<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>💰 Vue Google Adsense | Irfan Maulana</title>
    <meta name="language" content="en-EN" /><meta name="author" content="Irfan Maulana" /><link rel="author" href="https://plus.google.com/u/0/+irfanmaulana-mazipan/posts" /><link rel="publisher" href="https://plus.google.com/u/0/+irfanmaulana-mazipan" /><meta name="keywords" content="vue adsense, vue google adsense, vuejs adsense, vuejs google adsense" /><meta name="description" content="Vue.js Google Adsense Component with InFeed and InArticle Ads support" /><meta property="og:title" content="💰 Vue Google Adsense | Irfan Maulana" /><meta property="og:description" content="Vue.js Google Adsense Component with InFeed and InArticle Ads support" /><meta property="og:url" content="https://mazipan.github.io/vue-google-adsense/" /><meta property="og:site_name" content="💰 Vue Google Adsense" /><meta property="og:type" content="website" /><meta name="twitter:card" content="summary_large_image" /><meta name="twitter:site" content="@maz_ipan" /><meta name="twitter:creator" content="@maz_ipan" /><meta name="twitter:title" content="💰 Vue Google Adsense | Irfan Maulana" /><meta name="twitter:description" content="Vue.js Google Adsense Component with InFeed and InArticle Ads support" /><meta name="twitter:domain" content="https://mazipan.github.io/vue-google-adsense/" /><link rel="home" href="https://mazipan.github.io/vue-google-adsense/">

    <link rel="stylesheet" href="https://unpkg.com/bulma-dracula@1.0.2/dist/bulma-dracula.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-25065548-2');</script>

  </head>
  <body>
    <div id="app"></div>

    <footer class="columns has-text-centered">
      <div class="column">
        <a href="https://bulma.io" target="_blank">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a>
        <br>
        <small>Copyright © 2017 - <span id="yearNow"></span> by <a href="https://github.com/mazipan/" target="_blank">Irfan Maulana</a></small>
      </div>
    </footer>

    <script>
      (function(){
        document.getElementById('yearNow').innerHTML = new Date().getFullYear();
      })();
    </script>
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://www.mazipan.github.io/","name":"Irfan Maulana | Front End Developer","author":"Irfan Maulana","image":"http://mazipan.github.io/images/irfan-maulana.jpg","description":"Irfan Maulana is Front End Developer from Indonesia - Man that craft some code to build a beauty and readable code, experienced in web and desktop technology.","sameAs":["https://www.facebook.com/mazipanneh","https://instagram.com/maz_ipan","https://twitter.com/Maz_Ipan","https://id.linkedin.com/in/irfanmaulanamazipan","https://www.slideshare.net/IrfanMaulana21","https://github.com/mazipan"]}</script> <script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","email":"mailto:mazipanneh@gmail.com","image":"http://mazipan.github.io/images/irfan-maulana.jpg","jobTitle":"Software Engineer","name":"Irfan Maulana","url":"https://www.mazipan.github.io/","sameAs":["https://www.facebook.com/mazipanneh","https://instagram.com/maz_ipan","https://twitter.com/Maz_Ipan","https://id.linkedin.com/in/irfanmaulanamazipan","https://www.slideshare.net/IrfanMaulana21","https://github.com/mazipan"]}</script>
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http://mazipan.github.io/","name":"Home","image":"http://mazipan.github.io/images/irfan-maulana.jpg"}},{"@type":"ListItem","position":2,"item":{"@id":"http://mazipan.github.io/demo/","name":"Demo","image":"http://mazipan.github.io/images/irfan-maulana.jpg"}},{"@type":"ListItem","position":3,"item":{"@id":"http://mazipan.github.io/vue-google-adsense","name":"vue-google-adsense","image":"http://mazipan.github.io/images/irfan-maulana.jpg"}}]}</script>
  </body>
</html>
